* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Poppins';
}

nav, ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* HEADER */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

header img {
    width: 200px;
}

header nav {
    display: flex;
}

header li a {
    color: #191C03;
}

header li {
    margin: 0 15px;
}

header li:first-child {
    margin-left: 0;
}

header li:last-child {
    margin-right: 0;
}

/* HEADER */

.hero {
    background:  url(../images/hero.jpg);
    background-size: cover;
    min-height: 100vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
}

.hero h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.hero .btn {
    background: #ffffff;
    border-radius: 10px;
    color: #191C03;
    padding: 20px 50px;
    text-transform: uppercase;
}

/* CONHECA-O-HOTEL */

.conheca-o-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.conheca-o-hotel h3 {
    text-align: center;
    color: #191C03;
    font-size: 2rem;
    margin-bottom: 35px;
}

.conheca-o-hotel p {
    text-align: center;
    color: #191C03;
    max-width: 800px;
    margin-bottom: 35px;
}

.conheca-o-hotel hr {
    width: 200px;
    height: 2px;
    background: #191C03;
    margin-bottom: 70px;
    border: none;
}

.conheca-o-hotel .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.conheca-o-hotel .grid li {
   height: 350px;
   padding: 20px;
   border: 20px solid #ffffff;
   border-radius: 4px;
   background-clip: content-box;
   background-size: cover;
   background-position: center;
   
}
.conheca-o-hotel .grid li.small {
    flex-basis: 40%;
}

.conheca-o-hotel .grid li.large {
    flex-basis: 60%;
}

/* CONHECA-O-HOTEL */


